/_dev
/.dev
eslint.config*
logs/
!scripts/README.md

# Bigger work
node_modules/
.inspiration/
.ideas/
notes/

# Convenience
*.zip
AGENTS.md
*_PLAN.md

# !README.md 
#   don't add an exception for the README since it's already tracked. If adding exception, it will accidentally be included in the bundled zip file.
*.py

# Specific files
test-rules.js
