/* Block Page Styles for TimeDash Extension */
/* Modularized CSS imports */

@import 'css/variables.css';
@import 'css/animations.css';
@import 'css/base.css';
@import 'css/components.css';
@import 'css/access.css';
@import 'css/motivation.css';
@import 'css/ui-elements.css';
@import 'css/footer.css';
@import 'css/responsive.css';
