/* TimeDash Options Page Styles */
/* Modularized CSS imports */

@import 'css/variables.css';
@import 'css/base.css';
@import 'css/layout.css';
@import 'css/components.css';
@import 'css/sections.css';
@import 'css/site-management.css';
@import 'css/analytics.css';
@import 'css/specifics.css';
@import 'css/feedback.css';
@import 'css/responsive.css';
