/* 
Popup: No more details
*/

@import 'css/variables.css';
@import 'css/base.css';
@import 'css/header.css';
@import 'css/current-site.css';
@import 'css/stats.css';
@import 'css/sites-list.css';
@import 'css/footer.css';
@import 'css/feedback.css';
@import 'css/layout-elements.css';
@import 'css/responsive.css';
